/* Login.css */

.header {
  text-align: center;
  margin-bottom: 20px;
  color: #eee;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;

  /* Centrado vertical y horizontal */
  position: fixed; /* o 'absolute' si prefieres */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex; /* A침adido para usar flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura el ancho completo */
}

.input-group input {
  width: 300%; /* Ajustado para cajas de entrada m치s peque침as */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.input-group label {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.input-group label img {
  margin-right: 10px; /* Espacio entre el logotipo y el texto */
  width: 30px; /* Ajusta el tama침o del logotipo */
}
