.profitability-table thead th {
  background-color: #006486;
  color: rgb(0, 0, 0, 1);
}

.profitability-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear elementos a la izquierda */
  width: 100%;
  padding: 5px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 10px;
}

.search-bar button {
  width: 100px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px; /* Añadir esquinas circulares */
  background-color: #007bff; /* Cambiar el color de fondo */
  color: #fff; /* Cambiar el color del texto */
  border: none; /* Eliminar el borde */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  transition: background-color 0.3s ease; /* Agregar transición */
}

.search-bar button:hover {
  background-color: #0056b3; /* Cambiar el color de fondo en hover */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-and-totals {
  flex-grow: 1; /* Ocupar el espacio restante */
}

.profitability-table {
  width: 100%;
  border-collapse: collapse;
}

.profitability-table th,
.profitability-table td {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #dee2e6;
}

.profitability-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.totals-and-actions {
  display: flex;
  justify-content: space-between; /* Alinear elementos a los extremos */
  width: 100%;
}

.totals {
  margin-top: 20px;
  text-align: end;
  font-size: x-large;
  color: black;
  font-size: 16px;
  background-color: #dee2e6c8;
  border-radius: 10px;
  box-shadow: 10px 10px 10px ;
  text-align: center;
}

.totals p {
  margin: 10px 5;
}

.actions {
  display: flex;
  flex-direction: row;
}
.actions {
  
  display: flex;
  flex-direction: row;
}

.action-button {
  margin-top: 20px;
  margin-right: 40px; /* Añadir espacio horizontal entre los botones */
  width: 300px;
}

/* Eliminar el margen derecho para el último contenedor de botón */
.action-button:last-of-type {
  margin-right: 0; /* Eliminar el margen derecho para el último contenedor de botón */
}

.actions button {
  padding: 9px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px; /* Añadir esquinas circulares */
  background-color: #dee2e6; /* Cambiar el color de fondo */
  color: #000000; /* Cambiar el color del texto */
  border: none; /* Eliminar el borde */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  transition: background-color 0.3s ease; /* Agregar transición */
  margin-right: 5px; /* Agregar espacio entre los botones, excepto el último */;
}

.action-button p{
  font-size: x-large;
  color: black;
  font-size: 16px;
  background-color: #dee2e6c8;
  border-radius: 10px;
  box-shadow: 10px 10px 10px ;
  text-align: center;
}





.actions button:hover {
  background-color: #007bff; /* Cambiar el color de fondo en hover */
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-modal button {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}



.confirmation-modal, .alert-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-modal button {
  background-color: red;
  color: white;
}


.confirmation-modal button:nth-child(2) {
  background-color: #007bff;
  color: white;
}

.confirmation-modal button:nth-child(1), .alert-modal button:nth-child(2) {
  background-color: red;
  color: white;
}

